body {
  margin: 0;
  font-family: 'Roboto Slab', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #A8D0E6;
}

code {
  font-family: 'Roboto Slab', sans-serif;
}
