body {
  margin-top: 5rem;
  font-family: 'Roboto Slab', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #A8D0E6;
  /* background: linear-gradient(180deg, #A8D0E6 80%, #f8f9fa 100%); */
}

code {
  font-family: 'Roboto Slab', sans-serif;
}
