/* List of colors:
red: #F76c6c;
yellow: #F8E9A1;
light blue: #A8D0E6;
blue: #374785;
dark blue: #24305E; */

.Form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F76C6C;
    margin: 18.75rem auto;
    padding: 2rem;
    width: 25% !important;
}

@media (min-width: 575.98px) {
    .Form {
      font-size: 1.1rem;
    }
  }
  @media (min-width: 767.98px) {
    .Form {
      font-size: 1.2rem;
    }
  }
  @media (min-width: 991.98px) {
    .Form {
      font-size: 1.3rem;
    }
  }

.Input{
    width: 70%;
    margin: 25px auto;
    text-align: center;
    border: 1px solid #24305E;
    border-radius: 15px;
    color: #24305E;
}

.MainButton{
    width: 150px;
    height: 35px;
    margin: 25px auto;
    text-align: center;
    border: 1px solid #24305E;
    border-radius: 15px;
    color: #24305E;
}

.MainButton:hover{
    background-color: #24305E;
    color: #F8E9A1;
    cursor: pointer;
}

.SecondButton{
    color: #24305E; 
}

.SecondButton:hover{
    color: #F8E9A1;
}

.ThirdButton{
    color: #24305E;
    padding-top: 2rem;
}

.ThirdButton:hover{
    color: #F8E9A1;
}